<%- include("partials/header") %>
<div class="container">
	
<% items.forEach(function(item){ %>
	<div class="card" style="width: 18rem;">
		  <div class="card-body">
			<h5 class="card-title"><%= item.ngoname %></h5>
		<%if(item.verified){ %>
			<i class="fa fa-check" aria-hidden="true"></i>
		<% }else{ %>
			<% if(currentUser.role=="head"){ %>
				<a href="/verify/item/<%= item._id%>" type="button" class="btn btn-primary">Verify this NGO</a>
			<% } %>
		<% } %>
		
			<h6 class="card-subtitle mb-2 text-muted">Item required: <%= item.itemname %></h6>
			<p class="card-text">Preferred Location: <%= item.location %></p>
			<p class="card-text">Quantity required: <%= item.quantity %></p>
			<a class="card-link" href="/donate/<%= item._id %>" type="button" class="btn btn-primary">Donate Now!				</a>
		  </div>
	</div>
<%})%>
<%- include("partials/footer") %>
